<form class="container col-12 col-md-6 col-lg-4" #productForm="ngForm"
      (submit)="addProduct(productForm)">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name" required ngModel>
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" placeholder="Description" name="description" ngModel>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" placeholder="Price" [min]="1" [max]="10000" name="price" ngModel>
    <span class="input-group-text">.00</span>
  </div>

  <select class="form-select mb-4" name="quantity" ngModel>
    <option selected>Quantity</option>
    <option value="1">5</option>
    <option value="2">10</option>
    <option value="3">15</option>
  </select>
  <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Add new products</button>
</form>
